*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	width: 100%;
	text-align: left;
}
.menu{
	padding: 40px 50px;
	display: flex;
	justify-content: space-between;
}
.menu ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
.menu li{
	position: relative;
	margin-left: 10px;
	z-index: 5;
}
.menu a{
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
.active{
	background: #0e1f33;
	color: white;
}
.menu .sub1{
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 0;
	width: 200%;
	justify-content: center;
	display: none;
}
.sub1 li{
	margin: 0;
	text-align: left;
}
.sub1 a{
	padding: 10px;
}
.menu li:hover .sub1{
	display: block;
}
.menu .sub2{
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 120%;
	width: 100%;
	justify-content: center;
	visibility: hidden;
	transition: 0.5s;
}
.sub1 li:hover .sub2{
	visibility: visible;
	left: 100%;
}
.facebook{
	width: 50% ;
}